*{
    box-sizing: border-box;
}

body{
    background-color: orange;
}

#pageTitle{
    text-decoration: none;
}


button:hover {
 opacity:1;
}

input.topButtons {
 width: 90px;
 padding: 10px;
 cursor: pointer;
 font-weight: 500;
 font-size: 90%;
 background: #0000ff;
 color: #fff;
 float: right;                  
 
 margin: 10px 10px 0px 0px;
 font-family: Arial, Helvetica, sans-serif;
}

.logo-title {
font-family: 'Satisfy', cursive;
font-size: 50px;
color: #112fb4;
margin: auto;
text-decoration: none;
margin: 10px 10px 0px 10px;    
}
h1{
    text-align: center;
    font-family: 'Abel', sans-serif;
}
.middleText{
    font-family: 'Marck Script', cursive;
    margin-top: 0;
    margin: 0 0 0px 10px;
    color: white;
}
/* End header coding */

/*posts div*/

#first-post-box{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

#second-post-box{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

#third-post-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.post-box{
    display: flex;
    flex-direction: row;
    width:600px;
    height:190px;
    box-shadow: 2px 3px #888888;
    margin-top: 20px;
    margin-left:70px;
    border-radius: 10px;
    float: left;
}

.name-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 190px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-right: 1px solid #ccc;
    background-color: #ddd;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
    border-bottom-right-radius:none;
    border-top-right-radius:none;

}

.text-box{
    padding: 2px;
    width: 500px;
    height: 190px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-right: 1px solid #ccc;
    background-color: #ccc;
    border-bottom-left-radius:none;
    border-top-left-radius:none;
    border-bottom-right-radius:10px;
    border-top-right-radius:10px;

}

.name-box h4{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-box p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.text-box h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
}

.trash-icon{
    font-size: 25px !important;
    float: right;
}

.trash-icon:hover{
    cursor: pointer;
}

.post-txt2{
    display: none;
}

.extras{
    font-weight: bold;
    cursor: pointer;
    float: right;
}

/*code for modal*/
#confirm-delete-post{
    margin-top: 300px;

}

.yes{
    width: 100px !important;
    height:35px !important;
}

.no{
    width: 100px !important;
    height:35px !important;
}

/*making responsive*/
@media screen and (max-width: 480px) {
    .post-box{
        width: 400px;
        height:200px;
    }
    .text-box{
        width: 300px;
        height: 200px;
        text-align: justify;
    }
    .name-box{
        width: 100px;
        height: 200px;
    }
    .post-txt1{
        display: none;
    }
    .post-txt2{
        display: block;
    }
  }